/* Reset CSS */
html{
    font-size: 62.5%;
}

body{
    font: 1.6rem sans-serif;
   
}

h1, h2, ul, body, p, figure, ol, blockquote, button{
    margin: 0;
    padding: 0;
}

.w-50 {
    width: 50%;
}

.mb-20 {
    margin-bottom: 2.0rem;
}

.mt-20{
    margin-top: 2.0rem;
}

.p-15 {
    padding: 1.0rem;
}

section{
    margin: 40px 0px 40px 0px;
}

h1,h2,h3{
    font-weight: 800;
}

h1, .sub-title h2, .sub-title p{
    padding: 2.0rem;
}

input, button{
    font-size: inherit;
}

ul,li,a {
    list-style-type: none;
    text-decoration: none;
}

.active {
    background-color: #f44336 !important;
}


body{
    font-family: 'Raleway', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    margin-left: 20rem;
    margin-right: 20rem;
}


#btn-submit {
    background-color: #f44336;
    color: #f1f1f1;
}

#btn-send {

    background-color: black;
    color: #f1f1f1;
}