/* theme mobile */

@media only screen and (max-width: 600px) {

    header {
        display: none;
    }

    main {
        margin-left: .4rem;
        margin-right: .4rem;
    }

    /* Partie 2 : la galerie en grid */

    #group {

        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    /* Partie 3 : Les deux blocks */

    .pan{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    figure .img-3 {
        width: 38rem !important;
    }

    .block-explore{
        padding: .5rem;
        background-color: white;
    }
    
}




/* theme */

header{
    top: 0;
    height: 70vh;
    margin-left: 10rem;
    margin-right: 10rem;
    background-image: url('../asset/london2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block-title{
    color: #f44336;
    margin: 0;
    padding: 1.0rem 0 1.0rem 0;
    top: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f1f1f1;
}

header .block-reservation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:  #f1f1f1;
    width: 60%;
    margin-left: 25%;
    margin-right: 25%;
    
}

.block-reservation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.block-reservation ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.0rem;
    border: .1rem solid lightgray;
    width: 100%;
    background-color: black;
    color: white;
}

.form, #btn-search, .input-something input {
    padding: 1.0rem;
}

.input-something input{
    margin: 2.0rem 0 2.0rem 0;
    width: 300;
}

.input-something{
    display: flex;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40;
}

.form h2 {
    text-align: center;
}

.form-reservation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .input-reservation{
    display: flex;
    justify-content: space-around !important;
    align-items: space-around;
    width: 100%;
}

.input-something{
    display: flex;
    flex-direction: column;
}

#btn-search {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    align-items: center;
    width: 50%;
    background-color: black;
    color: white;
}


/* Part 1 : galerie 1 */

#group{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: .4rem;
    grid-row-gap: .2rem;
}


.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 2 / 4 / 3 / 5; }

.img-gallery {
    display:block;
    position:relative;
    overflow:hidden;
    width: 100%;
}

.img-gallery img{
    width:100%;
    height:100%;
}

.img-gallery figcaption {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:0;
    color:#fff;
    text-align:center;
    background:rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.img-gallery figcaption h2 {
    margin-top:60px;
    font-size:30px;
}

.img-gallery:hover figcaption{
    height:100%;
}

.img-gallery {
    display: flex;
    justify-content: center;
    color: #f1f1f1;
}

figure .img-1 {
    width: 48.6rem;
    height: 31.5rem;
}

figure .img-2 {
    width: 15rem;
    height: 15rem;
}

figure .img-3 {
    width: 45rem;
    height: 34.4rem;
}

.pan{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Part Explore */

.block-explore{
    padding: .6rem;
}

.pan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    }
    
.div6 { grid-area: 1 / 1 / 2 / 2; }
.div7 { grid-area: 1 / 2 / 2 / 3; }

figcaption p{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

figcaption button{
    padding: .8rem;
    margin-top: 2rem;
}


/* Block form subscribe */

.block-newsletter{

    margin-top: 50;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1.0rem;
    border: .1rem solid lightgray;
    background-color: black;
    color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: column;
}

#btn-submit, #btn-send{

    width: 45%;
    border: 0;
}

/* footer */

.block-form-footer{
    margin-top: 50;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1.0rem;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: column;

}

.lastline-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-social{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-social img {
    padding: .5rem;
}

.inputs-footer input{
    padding: 1.0rem;
    margin-bottom: .5rem;
}
.material-symbols-outlined{
    margin-right: .3rem;
}